.mySwiper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  top: unset !important;
  bottom: 20px !important;
  width: 72px !important;
  height: 36px !important;
  background: #000;
  transform: skew(-25deg);
}

.swiper-button-next {
  left: calc(50% + .25rem) !important;
}

.swiper-button-prev {
  right: calc(50% + .25rem) !important;
  left: unset !important;
  bottom: 20px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important;
  color: #fff !important;
}

.swiper-slide img {
  width: inherit;
}